h1{
    text-align: center;
    /* x, y, difuminado, color */
    text-shadow: 2px 2px 5px #a8dadc;
    color: #e63946;
}

div.contenedor{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 15px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px grey;
    color: #457b9d;
    border-radius: 3%;
}