body{
    margin: 0%;
    padding: 0%;
    background: #004e5c;
}
header{
    color: white;
    text-align: center;
    font-size: 20px;
}
nav{
    width: 25%;
    float: left;
}
nav a{
    background-color: #00313d;
    border-radius: 10px 0 10px 0;
    color: white;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    display: block;
}
section{
    float: right;
    width: 75%;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 0 4px rgb(0, 0, 0, 0.2);
}
aside{
    float: right;
    width: 30%;
    padding: 5px;
    margin: 5px;
    font-style: italic;
    color: white;
    box-shadow: inset 5px 0 5px -5px black;
}
footer{
    clear: both;
    padding: 1px;
    text-align: center;
}
footer a{
    text-decoration: none;
}