h1{
    color: blue;
}
p{
    color: whitesmoke;
    background-color: crimson;
    padding: 15px; /* Caja interior al border, locación del objeto */
    border: 10px solid powderblue; /* Borde */
    /*
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    */

    /* margin: 40px 10px 20px 10px; */

    margin: auto 50px;
    text-align: center;
}